


@import "normalize";
@import "compass";
@import "susy";


.img_1 {
  position: absolute;
  max-width: 258px;
  max-height: 171.5px;
  left: 152px;
  top: 224px;
  animation-name: example_1;
  animation-duration: 2s;
}


.img_2 {
  position: absolute;
  max-width: 304px;
  max-height: 201.5px;
  left: 126px;
  top: 592px;
  animation-name: example_1;
  animation-duration: 2s;
}

.img_3 {
  position: absolute;
  max-width: 329px;
  max-height: 218.5px;
  left: 791px;
  top: 756px;
  animation-name: example_1;
  animation-duration: 2s;
}

.img_4 {
  position: absolute;
  max-width: 227px;
  max-height: 150.5px;
  left: 1352px;
  top: 734px;
  animation-name: example_1;
  animation-duration: 2s;
}

.img_5 {
  position: absolute;
  max-width: 243px;
  max-height: 161.5px;
  left: 1481px;
  top: 616px;
  animation-name: example_1;
  animation-duration: 2s;
}

.img_6 {
  position: absolute;
  max-width: 329px;
  max-height: 218.5px;
  left: 1525.75px;
  top: 177.25px;
  transform: rotate(270deg);
  animation-name: example_1;
  animation-duration: 4s;

}

.img_7 {
  position: absolute;
  max-width: 161px;
  max-height: 106.5px;
  left: 1129px;
  top: 177px;
  animation-name: example_1;
  animation-duration: 4s;

}

.img_8 {
  position: absolute;
  max-width: 161px;
  max-height: 106.5px;
  left: 963px;
  top: 177px;
  animation-name: example_1;
  animation-duration: 4s;
}

.img_9 {
  position: absolute;
  max-width: 161px;
  max-height: 106.5px;
  left: 797px;
  top: 177px;
  animation-name: example_1;
  animation-duration: 4s;
}

.img_10 {
  position: absolute;
  max-width: 161px;
  max-height: 106.5px;
  left: 631px;
  top: 177px;
  animation-name: example_1;
  animation-duration: 4s;
}

.centerized{
}


.nav-link{
  font-size: 32px;
}

.navbar-brand{
  font-size: 32px;
}


.name{
  position: absolute;
  left: 569px;
  top: 383px;
  font-size: 200px;
  color:#FFFFFF;
  

}

.shoots{
  position: absolute;
  left: 727px;
  top: 616px;
  font-size: 45px;
  color:#FFFFFF;
}

.prof_jev{
  position: absolute;
  left: 39px;
  top: 958px;
  font-size: 30px;
  color:#FFFFFF;
}

.email{
  position: absolute;
  left: 39px;
  top: 958px;
  color:#FFFFFF;
}

.sosmed{
  position: absolute;
  left: 1662px;
  top: 996px;
  font-size: 40px;
  color:#FFFFFF;
}

.home{
  position: absolute;
  left: 1601px;
  top: 56px;
  font-size: 32px;
  color:#FFFFFF;
}

.profile{
  position: absolute;
  left: 1718px;
  top: 56px;
  font-size: 32px;
  color:#FFFFFF;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.coordinate{
  transform: rotate(270deg);
  position: absolute;
  left: 300.5px;
  top: 470.5px;
  font-size: 40px;
  color:#FFFFFF;

}

.about_img{
  position: absolute;
  left: 1293px;
  top: 167px;
}

.about_me{
  position: absolute;
  left: 131px;
  top: 226px;
  font-size: 80px;
}

.line_1{
  position: absolute;
  left: 132px;
  top: 363px;
  font-size: 40px;
}

.img_1_about{
  position: absolute;
  max-width: 756px;
  max-height: 504px;
  left: 1293px;
  top: 350px;
  animation-name: example_1;

}

.img_2_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_3_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_4_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_5_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_6_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_7_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_8_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_9_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_10_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}
  
.navbar .navbar-expand-sm .navbar-light .bg-transparent .navbar-brand{
  color:#FFFFFF;
}

.nav-link{
  color:#FFFFFF;
}

@keyframes example_1 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_2 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_3 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_4 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_5 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_6 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_7 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_8 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_9 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_10 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}

div.slide-left {
width:100%;
overflow:hidden;
}
div.slide-left p {
animation: slide-left 10s;
}

@keyframes slide-left {
from {
  margin-left: 100%;
  width: 300%; 
}

to {
  margin-left: 0%;
  width: 100%;
}
}




@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
  

  @keyframes example_1 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_2 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_3 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_4 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_5 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_6 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_7 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_8 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_9 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_10 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }



.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  
}

.centerized{
  width: 100px;
 height: 100px;
 margin: 0 auto;
}


.name{
  position: absolute;
  left: 84px;
  top: 77px;
  font-size: 50px;
}

.shoots{
  position: absolute;
  left: 124px;
  top:138px;
  font-size: 18px;;
}


.img_1 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 233px;
  top: 271px;
  animation-name: example_1;
  animation-duration: 2s;
}


.img_2 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 126px;
  top: 592px;
  animation-name: example_1;
  animation-duration: 2s;
  display: none;
}

.img_3 {
  position: absolute;
  max-width: 136px;
  max-height: 90.5px;
  left: 191px;
  top: 412px;
  animation-name: example_1;
  animation-duration: 2s;
}

.img_4 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 135px;
  top: 271px;
  animation-name: example_1;
  animation-duration: 2s;
}

.img_5 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 36px;
  top: 271px;
  animation-name: example_1;
  animation-duration: 2s;
}

.img_6 {
  position: absolute;
  max-width: 143px;
  max-height: 94.5px;
  left: 25.75px;
  top: 371.25px;
  transform: rotate(270deg);
  animation-name: example_1;
  animation-duration: 4s;

}

.img_7 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 1129px;
  top: 177px;
  animation-name: example_1;
  animation-duration: 4s;
  display: none;

}

.img_8 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 36.32px;
  top: 204px;
  animation-name: example_1;
  animation-duration: 4s;
}

.img_9 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 134.66px;
  top: 204px;
  animation-name: example_1;
  animation-duration: 4s;
}

.img_10 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 233px;
  top: 204px;
  animation-name: example_1;
  animation-duration: 4s;
}



.prof_jev{
  position: absolute;
  left: 74px;
  top: 553px;
  font-size: 18px;
  text-align:center;
}

.sosmed{
  position: absolute;
  left : 148px;
  top : 623px;
  font-size: 18px;
  text-align:center;
}

.coordinate{
transform: rotate(0deg);
position: absolute;
left: 183.5px;
top: 371.5px;
font-size: 13px;

  }

.navbar-brand{
  font-size: 18px;
  color:#FFFFFF;
}   
  
.nav-link{
  font-size: 18px;
  color:#FFFFFF;
}


} 

/**
 - Styles for AG grids & Container
 */

 .container {
  background-color: #fbeecb;
}

.ag1, .ag3 {
  background-color: #71dad2;
}

.ag2 {
  background-color: #fae7b3;
}

.ag4,.ag5,.ag8,.ag9 {
  background-color: #ee9e9c;
}

.ag6 {
  background-color: #f09671;
}

.ag7 {
  background-color: #f6d784;
}

.ag10 {
  background-color: #ea9fc3;
}

/**
 - Text Styles
 */
h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

.wrap {
  max-width: 1120px; 
}

/* Clearfix for floated children */
.wrap:after {
  content: &quot; &quot;;
  clear: both; 
  display: block;
}

.content {
  float: left; 
  width: 66.071429%; /* 740px / 1120px */
  margin-right: 1.6964286%; /* 19px/1120px */
}

.sidebar {
  float: right; 
  width: 32.2321429%; /* 361px / 1120px */
}

@import "susy"

/* Changing Susy default global settings */
$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
  container: 1120px,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box 
  );

/* Makes border-box properties */
@include border-box-sizing;

.wrap {
  @include container;
}

.content {
  @include span(8); 
}

/* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
.sidebar {
  @include span(4 last); 
}