.img_1 {
  position: absolute;
  max-width: 258px;
  max-height: 171.5px;
  left: 152px;
  top: 224px;
  animation-name: example_1;
  animation-duration: 2s;
}


.img_2 {
  position: absolute;
  max-width: 304px;
  max-height: 201.5px;
  left: 126px;
  top: 592px;
  animation-name: example_1;
  animation-duration: 2s;
}

.img_3 {
  position: absolute;
  max-width: 329px;
  max-height: 218.5px;
  left: 791px;
  top: 756px;
  animation-name: example_1;
  animation-duration: 2s;
}

.img_4 {
  position: absolute;
  max-width: 227px;
  max-height: 150.5px;
  left: 1352px;
  top: 734px;
  animation-name: example_1;
  animation-duration: 2s;
}

.img_5 {
  position: absolute;
  max-width: 243px;
  max-height: 161.5px;
  left: 1481px;
  top: 616px;
  animation-name: example_1;
  animation-duration: 2s;
}

.img_6 {
  position: absolute;
  max-width: 329px;
  max-height: 218.5px;
  left: 1525.75px;
  top: 177.25px;
  transform: rotate(270deg);
  animation-name: example_1;
  animation-duration: 4s;

}

.img_7 {
  position: absolute;
  max-width: 161px;
  max-height: 106.5px;
  left: 1129px;
  top: 177px;
  animation-name: example_1;
  animation-duration: 4s;

}

.img_8 {
  position: absolute;
  max-width: 161px;
  max-height: 106.5px;
  left: 963px;
  top: 177px;
  animation-name: example_1;
  animation-duration: 4s;
}

.img_9 {
  position: absolute;
  max-width: 161px;
  max-height: 106.5px;
  left: 797px;
  top: 177px;
  animation-name: example_1;
  animation-duration: 4s;
}

.img_10 {
  position: absolute;
  max-width: 161px;
  max-height: 106.5px;
  left: 631px;
  top: 177px;
  animation-name: example_1;
  animation-duration: 4s;
}


.nav-link{
  font-size: 32px;
}



.name{
  position: absolute;
  left: 569px;
  top: 383px;
  font-size: 200px;
  

}

.shoots{
  position: absolute;
  left: 727px;
  top: 616px;
  font-size: 45px;
}

.prof_jev{
  position: absolute;
  left: 39px;
  top: 958px;
  font-size: 30px;
}

.email{
  position: absolute;
  left: 39px;
  top: 958px;
}

.sosmed{
  position: absolute;
  left: 1662px;
  top: 996px;
  font-size: 40px;
}

.home{
  position: absolute;
  left: 1601px;
  top: 56px;
  font-size: 32px;
}

.profile{
  position: absolute;
  left: 1718px;
  top: 56px;
  font-size: 32px;
}

body{
  background-color: #FFD1DC;
  
}

.coordinate{
  transform: rotate(270deg);
  position: absolute;
  left: 300.5px;
  top: 470.5px;
  font-size: 40px;

}

.about_img{
  position: absolute;
  left: 1293px;
  top: 167px;
}

.about_me{
  position: absolute;
  left: 131px;
  top: 226px;
  font-size: 80px;
}

.line_1{
  position: absolute;
  left: 132px;
  top: 363px;
  font-size: 40px;
}

.img_1_about{
  position: absolute;
  max-width: 756px;
  max-height: 504px;
  left: 1293px;
  top: 350px;
  animation-name: example_1;

}

.img_2_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_3_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_4_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_5_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_6_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_7_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_8_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_9_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}

.img_10_about{
position: absolute;
max-width: 756px;
max-height: 504px;
left: 1293px;
top: 350px;

}
  

@keyframes example_1 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_2 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_3 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_4 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_5 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_6 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_7 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_8 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_9 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}
@keyframes example_10 {
0%   {left:569px; top:383px;}
25%  {left:569px; top:383px;}
}

div.slide-left {
width:100%;
overflow:hidden;
}
div.slide-left p {
animation: slide-left 10s;
}

@keyframes slide-left {
from {
  margin-left: 100%;
  width: 300%; 
}

to {
  margin-left: 0%;
  width: 100%;
}
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
  @keyframes example_1 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_2 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_3 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_4 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_5 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_6 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_7 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_8 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_9 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }
    @keyframes example_10 {
    0%   {left:141px; top:326px;}
    25%  {left:141px; top:326px;}
    }


.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  
}
.nav-link{
  font-size: 18px;
}

.navbar .navbar-expand-sm .navbar-light{
  max-width: 375px;
}
  
.name{
  position: absolute;
  left: 84px;
  top: 77px;
  font-size: 50px;
}

.shoots{
  position: absolute;
  left: 104px;
  top:138px;
  font-size: 18px;;
}


.img_1 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 233px;
  top: 271px;
  animation-name: example_1;
  animation-duration: 2s;
}


.img_2 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 126px;
  top: 592px;
  animation-name: example_1;
  animation-duration: 2s;
  display: none;
}

.img_3 {
  position: absolute;
  max-width: 136px;
  max-height: 90.5px;
  left: 191px;
  top: 412px;
  animation-name: example_1;
  animation-duration: 2s;
}

.img_4 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 135px;
  top: 271px;
  animation-name: example_1;
  animation-duration: 2s;
}

.img_5 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 36px;
  top: 271px;
  animation-name: example_1;
  animation-duration: 2s;
}

.img_6 {
  position: absolute;
  max-width: 143px;
  max-height: 94.5px;
  left: 47.75px;
  top: 371.25px;
  transform: rotate(270deg);
  animation-name: example_1;
  animation-duration: 4s;

}

.img_7 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 1129px;
  top: 177px;
  animation-name: example_1;
  animation-duration: 4s;
  display: none;

}

.img_8 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 36.32px;
  top: 204px;
  animation-name: example_1;
  animation-duration: 4s;
}

.img_9 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 134.66px;
  top: 204px;
  animation-name: example_1;
  animation-duration: 4s;
}

.img_10 {
  position: absolute;
  max-width: 93px;
  max-height: 61.5px;
  left: 233px;
  top: 204px;
  animation-name: example_1;
  animation-duration: 4s;
}

.prof_jev{
  position: absolute;
  left: 74px;
  top: 631px;
  font-size: 18px;
}

.sosmed{
  position: absolute;
  left : 148px;
  top : 728px;
  font-size: 18px;
}

.coordinate{
transform: rotate(0deg);
position: absolute;
left: 163.5px;
top: 371.5px;
font-size: 15px;

  }

} 

.centerized{
  position: absolute;
  left: 36px;
  top: 35.5px;
}